body {
    display: flex;
    height: 100vh;
    width: 100vw;
}
.contenedor-principal{
    position: relative;
    display: flex;
    border: 2px solid black;
    width: 100%;
    height: 10%;
    align-items: center;
    flex-direction: row;
    border-radius: 2rem;
}
.contenedor-h1{
    color: brown;
}
.contenedor-parte1 {
    position: relative;
    display: flex;
    border: 2px solid black;
    width: 100%;
    height: 10%;
    align-items: center;
    flex-direction: row;
    border-radius: 2rem;
}

.contenedor-parte2 {
    display: flex;
    border: 2px solid black;
    width: 35%;
    height: 60%;
    flex-direction: column;
    border-radius: 2rem;
}

.contenedor-botones {
    display: flex;
    flex-direction: row;
    width: 80rem;
    height: 5rem;
    justify-content: space-evenly;
}

.contenedor-botones a {
    display: inline-block;
    width: 5rem;
    height: 80%;
    border: 2px solid red;
    border-radius: 50%;
}

.link img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.link:hover {
    box-shadow: 0 0 2rem black;
    cursor: pointer;
}