body{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.contenedor-principal{
    position: relative;
    display: flex;
    border: 2px solid black;
    width: 35%;
    height: 60%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2rem;
    padding: auto;
}
.imagen-perfil{
    width: 100%;
    height: 100%;
}
.contenedor-imagen{
    position: relative;
    border: 5px solid green;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
}
.letras{
    position: relative;
    text-align: center;
}
.Contenedor-botones{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 30rem;
    height: 5rem;
    border: 2px solid green;
    justify-content: space-around;
    justify-items: center;
    background-color: #3498DB;
    border-radius: 2rem 2rem 2rem 2rem;
}
.Contenedor-botones a{
    display: inline-block;
    width: 5rem;
    height: 80%;
    border: 6px solid yellow;
    border-radius: 100%;
    
}
.contenedor-principal::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
    border-radius: 2rem 2rem 2rem 2rem ;
}
.link img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.link:hover{
    cursor: pointer;
    box-shadow: 0 0 2rem black;
}